
@charset "utf-8";



		/************************************************/
		/* 		CSS Document							*/
		/*		Created by Alberto Marà					*/
		/*		All right reserved°						*/
		/************************************************/
		/************************************************/
		/*		Attenzione, il presentefile è			*/
		/*		parte integrante della formatta-		*/
		/*		zione grafica del sito. I dirit-		*/
		/*		ti ad esso correlati, al sito, e		*/
		/*		alle foto ed elementi ad esso			*/
		/*		connessi sono di esclusiva pro-			*/
		/*		prietà del designer. Non copiare		*/
		/*		e/o modificare in alcun modo, pa-		*/
		/*		rti, valori, immagini connesse o		*/
		/*		altro senza specifica autorizza-		*/
		/*		zione da parte del proprietario. 		*/
		/************************************************/
		/************************************************/
		/*		Il materiale presente, il sito			*/
		/*		in generale, e le parti ad esso			*/
		/*		connesse sono registrate con			*/
		/*		marca da bollo opponibile per			*/
		/*		legge contro terzi.						*/
		/************************************************/
		/*		www.Albertomara.it						*/
		/************************************************/




/*Format Page********************************************************************************************/
/**/html{
		border:none;
		margin:0px 0px 0px 0px;
		padding:0px 0px 0px 0px;
		display:block;
		}
	
/**/body{
		cursor: url("../image/common/cur.png"), auto;
		
		background-image:url(../image/common/background.jpg);
		background-position:top; background-repeat:no-repeat;
		background-color:#fff; color:#000;
		margin-left:auto; margin-right:auto; text-align:center;
		}
	
/**/a:link, a:visited, a:hover, a:active{
		border:none;
		border:0px;
		text-decoration:none;
		color:#000;
		} a:hover	{
			color:#F90; 
			cursor: url("../image/common/cur_link.png"), pointer;
			}

/**/img { margin:0 0 0 0; border:0 0 0 0; padding:0 0 0 0;}
	
/**/br{	height:5px;	}
	
/**/hr{	background-color:#666;
		border: thin solid #CCC;
		height:2px;
		width:100%;
		}

/**//*Titoli*/		h1{	font-family:Arial, Helvetica, sans-serif; font-weight:bold; font-size:20pt;
						color:#FFE200; text-align:left; line-height:25px; letter-spacing: -2px;}
						
/**//*Sottotitoli*/	h2{	font-family:Arial, Helvetica, sans-serif; font-weight:bolder; font-size:12pt;
						color:#000;	text-align:left; line-height:13px; margin-top:-18px; letter-spacing: -1px;}
						
/**//*Scritture*/	h3{	font-family:Tahoma, Geneva, sans-serif; font-weight:100; font-size:8pt;
						color:#FFF;	text-align:justify; line-height:12px;}
						
/**//*Marcature*/	h4{	font-family:Tahoma, Geneva, sans-serif;	font-weight:bolder; font-size:8pt;
						color:#F5F5F5; text-align:left; line-height:12px; text-decoration:underline;}
						
/**//*Corsive*/ 	h5{ font-family:Tahoma, Geneva, sans-serif;	font-weight:100; font-size:8pt; font-style:italic;
						color:#FC0; text-align:left; line-height:12px;}
						
/**//*Diciture*/	h6{	font-family:Tahoma, Geneva, sans-serif;	font-size:7pt; font-style:italic;
						color:#F5F5F5; text-align:left; padding:5 5 5 5;}
						
/**//*Annotazioni*/	h7{	font-family:Tahoma, Geneva, sans-serif;	font-size:7pt;
						color:#FC0; text-align:left; padding:5 5 5 5;}


/*Format Blocks*****************************************************************************************/
#navigation {
	margin-left:auto; margin-right:auto;
	margin-top:0px; margin-bottom:0px;
	padding:0px 0px 0px 0px;
	height:100px; width:770px;
	overflow:hidden;
	text-align:left;
	}

#header	{
	margin:0 auto 0 auto;
	height:240px; width:770px;
	}

#content {
	margin:0 auto 0 auto;
	height:auto; width:770px;
	text-align:left;
	position:relative;
	clear:both;
	}

#footer {
	margin:0 auto 0 auto;
	height:auto; width:750px;
	text-align:center;
	}


/*Format Box********************************************************************************************/
	
	/*Nav_box*/
	#nav_box {
	height:100%; width:100%;
	margin-top:0px; margin-bottom:0px;
	margin-left:0px; margin-right:0px;
	}	.nav_voice {
		font-family:"Arial Black", Gadget, sans-serif; font-size:12px; color:#000; }
	
	/*Log_box*/
	#log_box{
	display:block; vertical-align:top;
	height:auto; width:420px; margin-top:18px;	}
	
	/*Rec_box nella home*/
	#rec_box_home{
	display:inline-block; vertical-align:top;
	height:auto; width:400px; margin-top:22px; }

	/*Info_Box*/
	#info_box{
	display:inline-block; vertical-align:top;
	text-align:center; margin-left:10px; margin-top:-310px;
	height:auto; width:330px;
	}	.infobox_title { font-family:"Arial Black", Gadget, sans-serif; font-size:20px; color:#FC0; margin-top:-20px; }
		.infobox_write { font-family:"Arial Black", Gadget, sans-serif; font-size:14px; color:#000; margin-top:-10px; }
	
	/*Rec_box effettivo*/
	#rec_box{
	display:inline-block; vertical-align:top;
	height:auto; width:90%; margin-top:22px;
	}	.rec_welcome_home{
		text-align:left; height:auto; width:345px; margin-left:25px; margin-top:25px;
		font-family:"Arial Black", Gadget, sans-serif; font-size:14px; color:#000; }
		.rec_welcome {
		text-align:center; margin-top:10px; margin-left:60px;
		height:auto; width:90%;	font-family:"Arial Black", Gadget, sans-serif; font-size:14px; color:#000;  }
		.rec_datileft{
		display:inline-block; vertical-align:top; height:auto; width:29%; margin-top:20px; margin-left:20%; }
		.rec_arrowwrap{
		display:inline-block; vertical-align:top; height:auto; width:3%; margin-top:6px;}
		.form_rec_datiright{ 
		display:inline-block; vertical-align:top; height:auto; width:40%; margin-top:4px; margin-left:20px;}
	
	
	/*userBox*/
	#user_box{
	display:inline-block; vertical-align:top;
	height:auto; width:420px; position:relative;	
	}	#user_datileft {
		display:inline-block;
		vertical-align:top;
		margin-top:20px; margin-left:15px;
		}	.nodato {
			font-family:"Arial Black", Gadget, sans-serif; font-size:14px; color:#000; margin-top:-10px; }
		#arrowwrap{
		display:inline-block;
		vertical-align:top;
		margin-top:7px; }
		#user_datiright{
		display:inline-block;
		vertical-align:top;
		margin-top:20px;
		margin-left:5px;
		}	#_name, #_surname, #_birthplace, #_birthday, #_fiscode, #_user, #_pass, #_mail  {
			font-family:"Arial Black", Gadget, sans-serif; font-size:14px; color:#000; margin-top:-10px; }

	
	/*newsBox*/
	#news_box{
	display:inline-block; vertical-align:top;
	height:auto; width:320px;
	margin-left:20px; margin-top:-0px;
	}	#news_slide{
		width:auto; height:172px;
		padding:10px 10px 10px 10px;
		margin-top:-13px;
		overflow:hidden;
		}	.news{
			width:auto; height:172px;
			padding-top:20px;
			}
			.newstitle {
			font-family:"Arial Black", Gadget, sans-serif; font-size:14px; color:#000; margin-top:-10px; margin-left:-5px;
			}
			.newscontent{
			font-family:"Arial Black", Gadget, sans-serif; font-size:12px; color:#000; margin-top:-10px;
			}
	
	
	/*listnews_box*/
	#newslist_box{
	 margin-top:-20px; text-align:left;
	}	.news_list	{width:90%; height:auto; margin-left:auto; margin-right:auto; margin-top:-140px;}
		.news_title {font-family:"Arial Black", Gadget, sans-serif; font-size:14px; color:#000; margin-top:-10px; margin-left:-5px;}
		.news_post	{font-family:Arial, Helvetica, sans-serif; font-size:13px; color:#000; margin-top:-10px; margin-left:-5px;}
		
	
	/*uploadBox*/
	#uploadfile_box{
	margin-top:-68px; 
	}	.tabletitle{
		font-family:"Arial Black", Gadget, sans-serif;
		font-variant:small-caps;
		font-size:10pt; color:#000; }
		.tablenormal{
		font-family:Arial, Helvetica, sans-serif;
		font-variant:small-caps;
		font-size:12pt; color:#000; }
		#tablelist{
		width:95%;
		margin-left:auto;
		margin-right:auto;
		margin-top:-136px;
		}	.trlist{
			height:20px; }
			.tdlist{
			border-bottom:solid 2px #CCC !important; }	
			.tdnomefile{
			border-bottom:solid 2px #CCC !important;
			height:7px; width:40%; }
	
	/*uploadnowBox*/
	#uploadnow_box{
	position:absolute; z-index:4999999;
	margin-left:17%; margin-top:-500px;
	width:800px; height:600px; visibility:hidden;
	background:url(../image/uploadnow_box/background_uploadnow_box.png) center no-repeat; }
	
	/*usermodBox*/
	#usermod_box{
	position:absolute; z-index:3999999; background:#333;
	margin-left:17%; margin-top:-800px;
	width:800px; height:600px; visibility:hidden;
	background:url(../image/usermod_box/background_modprofile.png) center no-repeat;
	}	#wrap_pops {
		width:500px; height:auto;
		margin-left:auto;
		margin-right:auto;
		margin-top:150px;
		text-align:left; }
		
	/*footBox*/
	#foot{
	margin-left:auto; margin-right:auto;
	height:auto; width:700px;
	text-align:center;
	}	.foot{
		font-family:Arial, Helvetica, sans-serif; font-size:14px; color:#000; margin-top:-10px; margin-left:-5px; }

