@charset "utf-8";
/* CSS Document */


/*

	CSS Document
	Created by Alberto Marà
	Agency Pixo Systems
	All right reserved ©


	Attenzione, il presente file è
	parte integrante della formatta-
	zione grafica del sito. I dirit-
	ti del file, del sito, delle
	foto ed e degli elementi ad esso
	connessi sono di esclusiva pro-
	prietà del designer. Non copiare
	e/o modificare in alcun modo, par-
	ti, valori, immagini connesse o
	altro senza specifica autorizza-
	zione da parte del proprietario.


	Il materiale presente, il sito
	in generale, e le parti ad esso
	connesse sono registrate con
	marca da bollo opponibile per
	legge contro terzi.

	www.pixosystem.com

*/


/*
---Basic page blocks & format---------------------------------------------------------
*/

html{
	border:												none;
	margin:												0 0 0 0;
	padding:											0 0 0 0;
	display:											block;
}
body{
	cursor:												url("../image/common/cur.png") auto;

	background:											url(../image/common/background.jpg) top no-repeat #fff;
	margin:												0 auto 0 auto;
	text-align:											center;
	color:												#000;
}
img {
	margin:												0 0 0 0;
	border:												0 0 0 0;
	padding:											0 0 0 0;
}
br{
	height:												5px;
}
hr{	background:											#666;
	border:												thin solid #CCC;
	height:												2px;
	width:												100%;
}

/*
----page blocks--------------------------------------------------------------------
*/

#navigation {
	margin:												0 auto 0 auto;
	padding:											0 0 0 0;
	height:												100px;
	width:												770px;
	text-align:											left !important;
}
#header	{
	margin:												0 auto 0 auto;
	height:												240px;
	width:												770px;
}
#content {
	margin:												0 auto 0 auto;
	height:												auto;
	width:												770px;
	text-align:											left;
	position:											relative;
	clear:												both;
}
#footer {
	margin:												0 auto 0 auto;
	height:												auto;
	width:												750px;
	text-align:											center;
}


/*
	page box
*/
	
/*Nav_box*/
#nav_box {
	height:												240px;
	width:												770px;
	margin:												0 auto 0 auto;
	text-align:											left;
}	.nav_voice {
	font-family:										"Arial Black", Gadget, sans-serif;
	font-size:											12px;
	color:												#000;
}
	
/*Log_box*/
#log_box{
	height:												350px;
	width:												420px;
	margin-top:											18px;
	display:											block;
	vertical-align:										top;
}

/*Rec_box nella home*/
#rec_box_home{
	height:												auto;
	width:												400px;
	margin:												22px 0 0 0;
	display:											inline-block;
	vertical-align:										top;
}

/*Info_Box*/
#info_box{
	margin:												-360px 0 0 10px;
	height:												auto;
	width:												330px;
	text-align:											justify;
	display:											inline-block;
	vertical-align:										top;
	}	.infobox_title {
		margin-top:										-20px;
		font-family:									"Arial Black", Gadget, sans-serif;
		font-size:										20px;
		color:											#FC0; }
		.infobox_write {
		margin-top:										-10px;
		font-family:									"Arial Black", Gadget, sans-serif;
		font-size:										14px;
		color:											#000; }
	
/*Rec_box effettivo*/
#rec_box{
	height:												auto;
	width:												90%;
	margin: 											22px auto 0 auto;
	display:											inline-block;
	vertical-align:										top;
	}	.rec_welcome_home{
		height:											auto;
		width:											345px;
		margin:											25px 0 0 25px;
		text-align:										left;
		font-family:									"Arial Black", Gadget, sans-serif;
		font-size:										14px;
		color:											#000; }
		.rec_welcome {
		height:											auto;
		width:											90%;
		margin:											10px 0 0 60px;
		text-align:										center;
		font-family:									"Arial Black", Gadget, sans-serif;
		font-size:										14px;
		color:											#000;  }
		.rec_datileft{
		height:											auto;
		width:											70%;
		margin:											20px 0 0 20%;
		display:										inline-block;
		vertical-align:									top;}
		.rec_arrowwrap{
		height:											auto;
		width:											3%;
		margin-top:										6px;
		display:										inline-block;
		vertical-align:									top;}
		.form_rec_datiright{ 
		height:											auto;
		width:											40%;
		margin:											4px 0 0 20%;
		display:										inline-block;
		vertical-align:									top;}
		#privacy, #contratto{
		height:											120px;
		max-height:										400px;
		min-height:										120px;
		width:											400px;
		min-width:										400px;
		max-width:										400px;
		padding:										10px 10px 10px 10px;
		background:										#333;
		border:											none !important;
		color:											#CCC !important;
		}
	
	
/*userBox*/
#user_box{
	height:												auto;
	width:												420px;
	display:											inline-block;
	vertical-align:										top;
	position:											relative;	
}	#user_datileft {
	margin:												20px 0 0 15px;
	display:											inline-block;
	vertical-align:										top;
	}	.nodato {
		margin-top:										-10px;
		font-family:									"Arial Black", Gadget, sans-serif;
		font-size:										14px;
		color:											#000; }
		#arrowwrap{
		margin-top:										7px;
		display:										inline-block;
		vertical-align:									top;}
		#user_datiright{
		margin:											20px 0 0 5px;
		display:										inline-block;
		vertical-align:									top;
		}	#_name, #_surname, #_address, #_birthplace, #_birthday, #_fiscode, #_user, #_pass, #_mail  {
			font-family:"Arial Black", Gadget, sans-serif; font-size:14px; color:#000; margin-top:-10px; }

	
/*newsBox*/
#news_box{
	height:												auto;
	width:												320px;
	margin:												0 0 0 20px;
	display:											inline-block;
	vertical-align:										top;
	overflow:											hidden;
	}	#news_slide{
		height:											172px;
		width:											auto;
		padding:										10px 10px 10px 10px;
		margin-top:										-13px;
		overflow:										hidden;
		}	.news{
			width:										auto; 
			padding-top:								5px; }
			.newstitle {
			margin:										0 0 0 0;
			font-family:								"Arial Black", Gadget, sans-serif;
			font-size:									14px;
			font-weight:								bold;
			color:										#000; }
			.newscontent{
			margin-top:									-10px;
			font-family:								"Arial Black", Gadget, sans-serif;
			font-size:									12px;
			color:										#000; }
	
	
/*listnews_box*/
#newslist_box{
	 margin-top:										-40px;
	 text-align:										left;
	}	.news_list	{
		height:											auto;
		width:											90%;
		margin:											-140px auto 0 auto;}
		.news_title {
		font-weight:									bold;
		font-family:									"Arial Black", Gadget, sans-serif;
		font-size:										14px;
		color:											#000;
		margin-top:										-10px;
		margin-left:									-5px;}
		.news_post	{
		font-family:									Arial, Helvetica, sans-serif;
		font-size:										13px;
		color:											#000;
		margin-top:										-10px;
		margin-left:									-5px;}
		
	
/*uploadBox*/
#uploadfile_box{
	margin-top:											-68px; 
	}	.tabletitle{
		font-family:									"Arial Black", Gadget, sans-serif;
		font-variant:									small-caps;
		font-size:										10pt;
		color:											#000; }
		.tablenormal{
		font-family:									Arial, Helvetica, sans-serif;
		font-variant:									small-caps;
		font-size:										12pt;
		color:											#000; }
		#tablelist{
		width:											95%;
		margin-left:									auto;
		margin-right:									auto;
		margin-top:										-136px;
		}	.trlist{
			height:										20px; }
			.tdlist{
			border-bottom:								solid 2px #CCC !important; }	
			.tdnomefile{
			border-bottom:								solid 2px #CCC !important;
			height:										7px;
			width:										40%; }
	
/*uploadnowBox*/
#uploadnow_box{
	position:											absolute;
	z-index:											4999999;
	margin-left:										17%;
	margin-top:											-500px;
	width:												800px;
	height:												600px;
	visibility:											hidden;
	background:											url(../image/uploadnow_box/background_uploadnow_box.png) center no-repeat; }
	
/*usermodBox*/
#usermod_box{
	position:											absolute;
	z-index:											3999999;
	background:											#333;
	margin-left:										17%;
	margin-top:											-800px;
	width:												800px;
	height:												600px;
	visibility:											hidden;
	background:											url(../image/usermod_box/background_modprofile.png) center no-repeat;
	}	#wrap_pops {
		width:											500px;
		height:											auto;
		margin-left:									auto;
		margin-right:									auto;
		margin-top:										150px;
		text-align:										left; }
		
/*footBox*/
#foot{
	margin-left:										auto;
	margin-right:										auto;
	height:												auto;
	width:												700px;
	text-align:											center;
	}	.foot{
		font-family:									Arial, Helvetica, sans-serif;
		font-size:										14px;
		color:											#000;
		margin-top:										-10px;
		margin-left:									-5px; }
		

/*
----typography & other parts--------------------------------------------------------
*/

a:link, a:visited, a:hover, a:active{
	border:												none;
	border:												0px;
	text-decoration:									none;
	color:												#000;
}	 a:hover	{
	color:												#F90; 
	cursor: 											url("../image/common/cur_link.png"), pointer; }

/**//*Titoli*/		h1{	font-family:Arial, Helvetica, sans-serif; font-weight:bold; font-size:20pt;
						color:#FFE200; text-align:left; line-height:25px; letter-spacing: -2px;}
						
/**//*Sottotitoli*/	h2{	font-family:Arial, Helvetica, sans-serif; font-weight:bolder; font-size:12pt;
						color:#000;	text-align:left; line-height:13px; margin-top:-18px; letter-spacing: -1px;}
						
/**//*Scritture*/	h3{	font-family:Tahoma, Geneva, sans-serif; font-weight:100; font-size:8pt;
						color:#FFF;	text-align:justify; line-height:12px;}
						
/**//*Marcature*/	h4{	font-family:Tahoma, Geneva, sans-serif;	font-weight:bolder; font-size:8pt;
						color:#F5F5F5; text-align:left; line-height:12px; text-decoration:underline;}
						
/**//*Corsive*/ 	h5{ font-family:Tahoma, Geneva, sans-serif;	font-weight:100; font-size:8pt; font-style:italic;
						color:#FC0; text-align:left; line-height:12px;}
						
/**//*Diciture*/	h6{	font-family:Tahoma, Geneva, sans-serif;	font-size:7pt; font-style:italic;
						color:#F5F5F5; text-align:left; padding:5 5 5 5;}
						
/**//*Annotazioni*/	h7{	font-family:Tahoma, Geneva, sans-serif;	font-size:7pt;
						color:#FC0; text-align:left; padding:5 5 5 5;}
